
.title{text-align: center;
color: rgb(0, 128, 122);}

*{border-radius: 25px;
margin-left: 1.5%;
background-color: rgb(214, 209, 209);}

#pic{height: 250px;
width: 350px;
margin-top: 10%;}

#pictu{height: 250px;
width: 350px;}

#picture {height: 250px;;
width: 350px;}